* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Rubik", sans-serif;
  --menu-text-color: #4a4a4a;
  --main-color: #3cdbc0;
  --title-color: #ffffff;
  --font-size-nav: 16px;
  --font-title: 30px;
}

/*HEADER*/

.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column; /*nota media queries*/
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}

.logo {
  width: 155px;
  padding: 10px 10px 5px 10px;
}

.menu {
  display: flex;
  text-align: center;
  list-style-type: none;
  margin-bottom: 13px;
  text-transform: uppercase;
}

.blog {
  margin-right: 10px;
  text-decoration: none;
  font-family: var(--font-family);
  font-size: var(--font-size-nav);
  color: var(--menu-text-color);
  padding: 5px 0 10px 10px;
}

.contacto {
  margin-left: 10px;
  text-decoration: none;
  font-family: var(--font-family);
  font-size: var(--font-size-nav);
  color: var(--menu-text-color);
  padding: 5px 10px 10px 0;
}

/*MAIN*/

.body {
  font-family: var(--font-family);
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  text-transform: capitalize;
}

.title {
  font-family: var(--font-family);
  font-size: var(--font-title);
  color: var(--title-color);
}

.title-item {
  text-align: center;
  display: block;
}

/*MEDIA QUERIES*/
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 30px;
  }

  .title {
    font-size: 40px;
  }

  .logo {
    width: 155px;
    padding: 10px 10px 0px 10px;
  }
}
